<!DOCTYPE html>
<html>
  <head>
    <title>HostmepleaseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Hello on the Main Page</h1>

    <% if user_signed_in? %>
    <div class="navbar-right">
      Hello <%= current_user.username%> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>  
    </div>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %> |
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
